# Ignore virtual environment
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*.so

# Model files
*.bin

# Configuration files
*.json

# Logs
*.log

# Other large or temporary files
*.model